.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(102, 124, 136);
    color: white;
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}